.navbar {
    margin-bottom: 0px;
}

#toolbar {
    background-color: #f5f5f5
}

#content {
    height: 100%
}

#client-menu {
    /*display:none;*/
}

#venn-container {
    /*display:none;*/
}

#flow {
    padding-bottom:20px;
/*    vertical-align: bottom;
    position: relative;
    margin-top: -400px;  negative value of footer height 
    height: 150px;
    clear:both;
    padding-top:20px;*/
}

#streamUtils .navbar-inner{

    background-image: -webkit-linear-gradient(bottom,black,#666666);
    color:white;
    
}

#streamUtils .navbar-inner a{
    color: #cccccc;
    text-shadow:none;
}

#streamUtils label {
    display : inline ;
}
#streamUtils input[type="number"] {
    width:50px;
}

a.switch-stream-btn.active, a.switch-stream-btn.active:hover {
    background-color: #cccccc;
    color:black;
}
a.switch-stream-btn.active:after {
    content:"";
    width:0;
    height:0;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom:10px solid #cccccc;
    position:relative;
    bottom:39px;
    right:60px;
}

/*.switch-stream-mode, .switch-streaming {
    float:left;
}
*/
/*
a.switch-stream-btn {
    color:white;
    font:20pt;
    padding-right: 20px;
    line-height: 30pt;
}

a.switch-stream-btn.active {
    background-color: #cccccc;
    padding-top: 13px;

    padding-bottom: 17px;
    color: black
}


.stream-view-utils {
    width: 50%;
    float:left;
}
*/

/*.stream-filter-item {
    float:right;
    margin-left: 25px
}
*/

/*#samplings {
    width:100px;
}*/

.final-list {
    background-color: #f5f5f5;
    height: 100%;
}

.dropzone {
    width:100%;
    border:3px dashed #BBBBBB ;
}

.dropzone .info {
    text-align:center;
    color: #BBBBBB;
    font-size:12pt;
    font-weight: bolder
}


#modal-compare {
    width:60%;
    left:35%;

}

.rounded-corners {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
}


.nvd3.nv-stackedarea path.nv-area {
    fill-opacity:0.7;
}

.nvd3.nv-stackedarea path.nv-area.lower {
    fill-opacity:.4;
}

.nvd3.nv-stackedarea path.nv-area.hover {
  fill-opacity: 1;
  stroke:#000;
  stroke-width:5px;
  stroke-opacity: .85;
  
}

.circle:before {
    /*content: ' \25CF';*/
    font-size: 25px;
}

.triangle:before {
    border-color: transparent transparent #f5f5f5 transparent;
    border-style: solid;
    border-width: 0px 50px 50px 50px;
    height: 0px;
    width: 0px;
}


.popover-inner {
    width: 600px;
}

/*.navbar .dropdown-menu.bottom-up::after {
    border-bottom: 0px solid transparent !important;
    border-top: 6px solid white;
    top: auto !important;
    bottom: -6px;
}*/