#toolbar {
    background-color: #f5f5f5
}

#content {
    height: 100%
}

#flow {
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    background-color: #f5f5f5
}

#streamUtils {
    background-color: #efefef
}

#final-list {
    width:100%;
    border:3px dashed #BBBBBB ;
}

#final-list .info {
    text-align:center;
    color: #BBBBBB;
    font-size:12pt;
    font-weight: bolder
}

.rounded-corners {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
}

#streamUtils input[type="number"] {
    width:50px;
}

.nvd3.nv-stackedarea path.nv-area {
    fill-opacity:0.7;
}
.nvd3.nv-stackedarea path.nv-area.lower {
    fill-opacity:.4;
}
.nvd3.nv-stackedarea path.nv-area.hover {
  fill-opacity: 1;
  stroke:#000;
  stroke-width:5px;
  stroke-opacity: .85;
  
}

.circle:before {
    content: ' \25CF';
    font-size: 25px;
}

.triangle:before {
    border-color: transparent transparent #f5f5f5 transparent;
    border-style: solid;
    border-width: 0px 50px 50px 50px;
    height: 0px;
    width: 0px;
}