/* GENERAL */

.rounded-corners {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

.hide {
    display: none;
}

.circle:before {
    /*content: ' \25CF';*/
    font-size: 25px;
}

.triangle:before {
    border-color: transparent transparent #f5f5f5 transparent;
    border-style: solid;
    border-width: 0px 50px 50px 50px;
    height: 0px;
    width: 0px;
}

/* LAYOUT */

#main {
    padding :0;
}

/* HEADER */
.navbar {
    margin-bottom: 0px;
}

.navbar-inner {
    -webkit-border-radius : 0px;
    -moz-border-radius : 0px;
    border-radius : 0px;
}

.lgg-select {
}

#lgg-selector .lgg-select a {
    padding: 10px 4px;
    text-transform: uppercase;
    font-size: 10px
}
#toolbar {
    background-color: #f5f5f5;
    border-bottom: 1px solid #efefef;
}

#toolbar h3 {
    float: left;
    margin: 5px 0
}

#actions {
    float: left;
    margin: 13px 0 0 10px
}

.header-page {
    padding-left: 20px;

}

#content {
    height: 100%
}

#client-menu {
    /*display:none;*/
}

#venn-container {
    /*display:none;*/
}


#keywords {
    z-index: 2;
}

.keyword-item {
    margin: 0 4px 4px 0
}

.keywords-inner {
    padding: 12px;
    position: absolute;
    z-index: 1031
}

.popover {
    z-index: 999
}
.popover-inner {
    width: 600px;
}


.final-list {

}

.final-list-inner{
    padding: 12px;
    margin: 12px
}

.final-list-inner .btn {
    margin:  0 4px 4px 0
}

.final-list {
    height: 100%;
}

.dropzone {
    border:2px dotted #BBBBBB ;

}

.dropzone .info {
    text-align:center;
    color: #BBBBBB;
    font-size:12pt;
    font-weight: bolder
}


#modal-compare {
    width:60%;
    left:35%;

}

.stream-utils-top {

    padding: 4px 8px 8px 8px;
    background-color: #efefef;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;

}

#timerange{
    z-index: 99999
}

.daterangepicker {
    z-index: 999999;
}

.daterangepicker .calendar.left{
    position: absolute;
    left: -228px

}

.daterangepicker .calendar.right{
    position: absolute;
    left: -451px;
}

#flow {
    padding-bottom:20px;
    background-color: #f5f5f5;
}


#streamUtils .navbar-inner a{
    
    text-shadow:none;
    padding: 10px 4px;
    margin: 0px
}

#streamUtils label {
    display : inline ;
}


.switch-streaming {
    color: #f5f5f5;
    padding:10px;
    float:left;
}

#streamUtils ul.switch-stream-mode {
    margin-left: 20px
}

a.switch-stream-btn {
    
}

#streamUtils a.switch-stream-btn.active, #streamUtils a.switch-stream-btn.active:hover {
    /*background-color: #cccccc;*/
    color:white;
}

a.switch-stream-btn.active:after {
    content:"";
    width:0;
    height:0;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom:10px solid black;
    position:relative;
    bottom:38px;
    right:40px;
}

/*#streamUtils .stream-view-form-item:first label {
    line-height: 38px
}*/

#streamUtils .stream-view-form-item {

    display: inline-block;
    margin-left: 20px

}

#streamUtils form {
    margin-right: 8px
}

#streamUtils input[type="number"] {
    width:50px;
    background-color: #444;
    color: white;
    border-color:#222;

}

#streamUtils label {
    color : #999;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 35px
}

.nvd3.nv-wrap {
    
}

g.nv-y.nv-axis text {
    color:white;

}

.nvd3.nv-stackedarea path.nv-area {
    fill-opacity:0.7;
}

.nvd3.nv-stackedarea path.nv-area.lower {
    fill-opacity:.4;
}

.nvd3.nv-stackedarea path.nv-area.hover {
  fill-opacity: 1;
  stroke:#000;
  stroke-width:5px;
  stroke-opacity: .85;
  
}
