<div id="keywords" class="row-fluid" ng-style="boxStyle">

  <div class="keywords-inner">
  
    <div 
      class="btn keyword-item keyword-{{$index}} {{item.key}} {{item.state}} btn-draggable" 
      ng-repeat="item in streamData"
      data-drag="list"
      data-jqyoui-options="{ revert: 'invalid' }"  
      jqyoui-draggable="{ index: {{$index}} }"
      ng-model="streamData"
      data-placement="bottom"
      data-unique="1"
      data-title="{{item.key}}"
      bs-popover="'partials/keyword-tooltip.html'"
      bs-popover
      ng-mouseenter="stackFadeIn($index)" 
      ng-mouseleave="stackFadeOut($index)"
      >
      <span style="color: {{ colors($index) }}" class="circle">
        <i class="icon-plus-sign"></i>
      </span> 
      {{item.key}}
    

    </div>

  </div><!-- end keyword list -->

 </div>