<!-- Popover (external ./partials/popover.html or inline ng-template)  -->
<div class="row">
    <button type="button" class="close" ng-click="dismiss()">×</button>
    <div class="span4">
        <h4 style="color: {{ colors($index) }}">{{item.key}}</h4>    
    </div>
    <div class="span4">
        <!-- {{item}} -->
        <p ng-bind-html-unsafe="popover.content"></p>  
    </div>
    <div class="span4">
    
        <form name="popoverForm">
          
          <div class="form-actions">
            <p>
                <a href="#">
                    <i class="icon-plus-sign"></i>
                    Add to list
            </a>
            </p>
            <p>
                <a href="#" ng-click="stackFocus($index); $event.preventDefault()">
                    <i class="icon-eye-open"></i>
                    Inspect
                </a>
            </p>
            
            <!-- <button type="button" class="btn close-popover" >Close</button> -->
          </div>
        </form>
    </div>
</div>