<div id="keywords" class="row-fluid">

  <div class="offset1">
    <!-- nothing -->
  </div>

  <div id="keywords-list" class="span9">
  
    <div 
      class="btn keyword-item keyword-{{$index}} {{item.key}} {{item.state}} btn-draggable" 
      ng-repeat="item in keywords" 
      data-drag="true" 
      data-jqyoui-options="{revert: 'invalid'}"  
      jqyoui-draggable="{index: {{$index}}}"
      ng-model="keywords"
      data-placement="top"
      data-unique="1"
      bs-popover="'partials/keyword-tooltip.html'"
      ng-mouseenter="stackFadeIn($index)" 
      ng-mouseleave="stackFadeOut($index)"
      >

      <p>
        <span style="color: {{ colors($index) }}" class="circle">
          <i class="icon-plus-sign"></i>
        </span> 
        {{item.key}}
      </p>

    </div>

  </div><!-- end keyword list -->

 </div>