<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Add a Client</h3>
</div>
<div class="modal-body">
  <form action="">
      <label for="client-name">Client<input type="text" name="client-name" id="client-name"></label>
      <label for="clients-notes">
        Notes
        <textarea name="client-notes" id="client-notes" cols="30" rows="10"></textarea>  
      </label>
  </form>

</div>
<div class="modal-footer">
  <button class="btn" ng-click="dismiss()">Close</button>
  <button class="btn btn-primary" ng-click="modal.saved=true;dismiss()">Save changes</button>
</div>
