<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Filter sets</h3>
</div>
<div class="modal-body">
  <form action="" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="filter-name">Name</label>
      <div class="controls">
        <input type="text" name="filter-name" id="filter-name">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="clients-list">
        Clients
      </label>
      <div class="controls">
        <select name="clients-list" id="clients-list"></select>
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="filter-description">
        Description
      </label>
      <div class="controls">
        <textarea name="filter-description" id="filter-description" cols="30" rows="10"></textarea>
      </div>
    </div>
  </form>

</div>
<div class="modal-footer">
  <button class="btn" ng-click="dismiss()">Close</button>
  <button class="btn btn-primary" ng-click="modal.saved=true;dismiss()">Save changes</button>
</div>
