<div class="stream-utils-top">

  <div class="stream-filter-item">
    <div disabled id="feed-type" class="btn-group disabled">
      <div class="btn-small btn active realtime">Real Time</div>
      <div class="btn-small btn historic">Historic</div>
    </div>
  </div>

  <div id="timerange" class="pull-right stream-filter-item btn-group" >

    <div date-picker="daterangepicker" class="pull-right">
      <a class="btn btn-small">
        <i class="icon-calendar"></i>
        Date range
      </a>
      <a class="btn btn-small dropdown-toggle" data-toggle="dropdown"> 
        <span class="caret"></span>
      </a>
    </div>
 
  </div>
</div>