<div id="streamUtils" class="row-fluid">
  <div class="offset1">
    <!-- free space -->
  </div>

  <div class="span1">    
    <div class="btn" ng-click="startStopStream()">
      <i ng-class="{true:'icon-pause', false:'icon-play'}[streaming]"></i>
    </div>
  </div>

  <div class="span2 btn-group btn-small">
    <a href="#" ng-click="switchStream('stack')" ng-class="" class="btn">Stacked</a>
    <a href="#" ng-click="switchStream('stream')" class="btn">Stream</a>
    <a href="#" ng-click="switchStream('expand')" class="btn">Expanded</a>
  </div>

  <form class="form-inline pull-right">
      <label for="stream-items-len">Qty of keywords  (1 to 20):
        <input id="stream-items-len" type="number" name="stream-items-len" min="1" max="20" value="{{streamSize}}" ng-model="streamSize" ng-change="setStreamSize(streamSize)">
      </label>
      <label for="granularity">Granularity: {{streamLength}} %
        <input id="granularity" type ="range" min ="10" max="100" step ="10" value ="{streamLength}" ng-model="streamLength" ng-change="setStreamLength(streamLength)"/>
      </label>
      <label for="">Timeframe:
        <input id="timeframe" type ="range" min ="10" max="100" step ="10"/>
      </label>  
  </form>
</div>