<div id="toolbar" class="row-fluid">

  <div class="span3">
    <h1>{{name}}</h1>
  </div>

  <div class="span2">      
    <div>
        <a href="" class="btn">Action 1</a>
        <a href="" class="btn">Action 2</a>
    </div>
  </div>

  <div class="btn-toolbar pull-right">

    <!-- <div class="span8 "> -->


        <div class="btn-group btn-small">
          <button class="btn active">Both</button>
          <button class="btn">Men</button>
          <button class="btn">Women</button>
        </div>

        <div class="btn-group btn-small">
          <button class="btn active">All</button>
          <button class="btn">18-</button>
          <button class="btn">24-</button>
          <button class="btn">35-</button>
          <button class="btn">40+</button>
        </div>

        <div class="btn-group btn-small">
          <button class="btn active">All</button>
          <button class="btn">Tier 1</button>
          <button class="btn">Tier 2</button>
          <button class="btn">Tier 3</button>
        </div>
        <div class="btn-group btn-small">
          <button class="btn"><i class="icon-save"></i></button>
        </div>

  </div>
</div>